<% if (poster = opt[:posters].pop) %>
  <img class="poster" src="/assets/<%= poster %>" />
<% else %>
  <div class="transperancy">
    <img src="/assets/transperancyjs.png"/>
  </div>
  <div class="dyn_img">
  </div>
<% end %>

